name: Tests

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                php: [8.0, 7.4]
                dependency-version: [prefer-lowest, prefer-stable]

        name: P${{ matrix.php }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Install Puppeteer
                run: npm install puppeteer

            -   name: Install and start test server
                run: |
                    cd tests/server
                    npm install
                    (node server.js &) || /bin/true

            -   name: Wait for server bootup
                run: sleep 5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: none

            -   name: Install dependencies
                run: composer update --${{ matrix.dependency-version }} --no-interaction --prefer-source

            -   name: Execute tests
                run: vendor/bin/phpunit
