name: Tests

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [8.5, 8.4]
                illuminate: ['13.*', '12.*']
                dependency-version: [prefer-stable]

        name: P${{ matrix.php }} - I${{ matrix.illuminate }} - ${{ matrix.dependency-version }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: none

            -   name: Install dependencies
                run: |
                    composer require "illuminate/collections:${{ matrix.illuminate }}" --no-interaction --no-update
                    composer update --${{ matrix.dependency-version }} --no-interaction --prefer-source

            -   name: Execute tests
                run: vendor/bin/pest
